<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".TypingFrontierApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TypingFrontier">
        <activity
            android:name=".shop.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".MentalTrainingActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".TrainingActivity"
            android:exported="false" />
        <activity
            android:name=".StatusActivity"
            android:exported="false" />
        <activity
            android:name=".ProfessionSelectActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCharacterActivity"
            android:exported="false" />
        <activity android:name=".CitySelectActivity" />
        <activity
            android:name=".ManualActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TypingFrontier.Dark" />
        <activity
            android:name=".ExplorationActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.TypingFrontier.Dark" />
        <activity
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:name=".collection.CentralActivity"
            android:exported="false" />
        <activity
            android:name=".collection.AvatarCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".collection.AchievementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" android:stopWithTask="false" />
    </application>

</manifest>